<div class="container mt-5">
  <h2>CRUD Application (Local Storage)</h2>

  <!-- Форма добавления пользователя -->
  <div class="mb-3">
    <input [(ngModel)]="newUser.name" class="form-control" placeholder="Name">
    <input [(ngModel)]="newUser.email" class="form-control mt-2" placeholder="Email">
    <button [disabled]="isLoading.addUser" class="btn btn-success mt-2" (click)="addUser()">Add</button>
  </div>

  <!-- Таблица пользователей -->
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button class="btn btn-warning btn-sm" (click)="editUser(user)">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id!)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Редактирование пользователя -->
  <div *ngIf="editedUser">
    <h3>Редактирование</h3>
    <input [(ngModel)]="editedUser.name" class="form-control">
    <input [(ngModel)]="editedUser.email" class="form-control mt-2">
    <button class="btn btn-primary mt-2" (click)="updateUser()">Save</button>
  </div>

  <!-- Управление данными -->
  <button class="btn btn-secondary mt-3" (click)="saveData()">Save to Local Storage</button>
  <button class="btn btn-secondary mt-3" (click)="loadData()">Download from Local Storage</button>
  <button class="btn btn-danger mt-3" (click)="deleteData()">Clear Local Storage</button>
</div>
